


/* --------------------------
-----------------------------
NEWS
-----------------------------
---------------------------*/



.table-row-padding-news {
	/*padding: 8px 0; */
	padding: 12px 0;
}

.table-news-media-logo {
    grid-column: 1 / span 4;
}

.table-news-media-logo img {
    width: 140px;
}

.table-article-date-news, .table-article-container-news {
	padding: 22px 0;	
}

@media all and (max-width: 800px) {

	.table-row-padding-news {
		padding: 14px 0 15px 0;
	}

	.table-article-date-news, .table-article-container-news {
		padding: 0;	
	}

	.table-row-padding-news{
		margin-left: -30px;
	}

}

@media all and (max-width: 750px) {
	.table-row-padding-news {
		padding: 14px 0 5px 0;
	}

	.table-row-padding-news{
		margin-left: 0px;
	}

}

@media all and (max-width: 500px) {
	

}

@media all and (max-width: 375px) { 

	.table-row-padding-news{
		margin-left: 9px;
	}


	

}